html {
    background: linear-gradient(317deg, #001e01, #0f0025);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 8000ms ease infinite;
    -moz-animation: AnimationName 8000ms ease infinite;
    animation: AnimationName 8000ms ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

option {
    background-color: #949494;
    
}

select {
border-radius: 2rem;
}

.my-animation:hover {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transform: scale(1.05);
}
